/*GENERAL */
html{
	min-height: 100%;
	min-width: 100%;
}

body{
	margin: 0;
	padding: 0;
	background: #545454; /* Old browsers */
	background-size: cover;
	background-repeat: no-repeat;
	background: -moz-radial-gradient(center, ellipse cover, #545454 0%, #262626 86%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #545454 0%,#262626 86%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #545454 0%,#262626 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	--pink : #ed1e79;
	--yellow : #ffff00;
	--blue : #0000ff;
	--green : #00ff00;
	--red: #ff0000;
	--darkpink: #d4145a;
}

h2 {
	margin-top: 90px;
	margin-bottom: 70px;
	font-size: 53px;
	color: var(--pink);
	text-shadow: var(--blue) 3px 3px, var(--blue) -3px 3px, var(--blue) -3px -3px, var(--blue) 3px -3px, 11px 11px 5px rgba(0, 0, 0, 1);
}

section{
	padding: 65px 75px;
	margin: auto;
	height: 468px;
	width: 663px;
	background-image: url("../images/tablet1.png");
	background-repeat: no-repeat;
	background-size: contain; ;
	background-position: center center;
	box-sizing: border-box;
	border-radius: 24px;
	-webkit-box-shadow: 14px 14px 5px 0px rgba(0,0,0,.7);
	-moz-box-shadow: 14px 14px 5px 0px rgba(0,0,0,.7);
	box-shadow: 14px 14px 5px 0px rgba(0,0,0,.7);
}

div{
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 20px;
    box-sizing: border-box;
}

button {
    color: var(--red);
    font-family: inherit;
    font-size: 1.2em;
    background-color: var(--green);
    height: 45px;
    width: 125px;
    border-radius: 8px;
    margin-top: 20px;
}

footer{
	width: 100%;
	margin-top: 80px;
}

footer p:first-child{
	font-size: 40px;
	color: var(--pink);
	text-shadow: var(--blue) 3px 3px, var(--blue) -3px 3px, var(--blue) -3px -3px, var(--blue) 3px -3px, 5px 5px 5px rgba(0, 0, 0, 1);
}

.subtittle{
	font-size: 30px;
	color: var(--pink);
	text-shadow: var(--blue) 3px 3px, var(--blue) -3px 3px, var(--blue) -3px -3px, var(--blue) 3px -3px, 5px 5px 5px rgba(0, 0, 0, 1);
}

.credit {
	font-family: 'Bungee Inline', cursive;
	color: var(--yellow);
	font-size: 20px;
}


.game-text {
	font-size: 22px;
    line-height: 32px;
	color: var(--yellow);
}

.game-caption {
	font-size: 16px;
	color: var(--darkpink);
}

/* INPUT */
.forInput {
	width: 100%;
    height: 40px;
    padding: 0;
    margin: 50px auto 50px auto;
    display: flex;
    flex-direction: column;
}

input {
  display: block;
  border: none;
  background: none;
  margin: 0px auto 0px auto;
  padding: 0;
  width: 135px;
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
  color: var(--yellow);
  letter-spacing: 14px;
}

.flash{
	width: 135px;
    height: 3px;
    padding: 0;
    margin: 0 auto 0 auto;
 	background: repeating-linear-gradient(90deg, var(--yellow) 0, var(--yellow) 30px, transparent 0, transparent 46px) 0 100%/ 130px 2px no-repeat;
 	animation: borderflash 0.8s infinite;
}

input:focus {
  outline: none;
  color: var(--yellow);
}
/* FIN GENERAL */


/* POUR QUE LA BORDURE CLIGNOTE */
@-webkit-keyframes borderflash {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes borderflash {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes borderflash {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes borderflash {
  from {
    opacity: 0;
  }

  to {
	opacity: 1;
  }
}


/* MARINE */

/* DIV WON */
.won {
	display: block;
}

.flex{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 65px;
	margin: 0;
	padding: 0; 
}

.pacman{
	background-image: url("../images/pacman.png");
	background-position: center center;
	background-repeat: no-repeat;
	flex: 1;
}

.phantom {
	flex: 2;
}

/* DIV GAME OVER */
.loose {
	display: block;
	background-image: url("../images/game-over2.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.loose button{
	margin: 122px auto 100px auto;
}

/* FIN MARINE */


/* CLAIRE */
/* DIV START */

div.start{
    background-image: url("../images/startres.jpg");
    background-color: black;
    background-size: contain;
    background-position: -8px center;
    background-repeat: no-repeat;
}

div.start >p{
    color: var(--yellow);
    font-size: 35px;
    line-height: 45px;
    margin: 0;
    
}

body > section > div.start > p:nth-child(2){
    margin-top: 80px;
}

/* DIV CHOOSE */
.bluephantom{
    width: 80%;
    height: auto;
    background-image: url(../images/bluephantom.png);
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
}
.choose > input{
    margin-bottom: 40px;
    margin-top: 40px;
}

div.choose > p.game-text{
    margin-bottom: 16px;
}

.hidden{
    display: none;
}